{% extends "base.html" %} {% block header %}

<style>
	#p {
		margin-top: 100px;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
	}
	#orange {
		color: #ff3d00;
	}
	.review-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
	.review-container {
		margin: 20px 0;
		border: 3px solid #ff3d00;
		padding: 20px;
		border-radius: 10px;
	}
	#field-name {
		font-size: 18px;
		font-weight: 600;
	}
	.name {
		color: #ff3d00;
		font-size: 25px;
	}
	.text {
		font-weight: 500;
	}
</style>

{% endblock header %}

<!--  -->
{% block section %}

<!-- // -->

{% if total > 0 %}
<p id="p">
	메뉴 리스트 : 현재까지 총 <span id="orange">{{total}}개</span> 등록됨
</p>

{% for data in datas %}
<div>
	<p>음식이름: {{data.menu_name}}</p>
	<p>가격: {{data.menu_price}}</p>
	<p>
		This is {% if data['vegi'] == "Y" %} vegetarian friendly {% endif %} {% if
		data['vegi'] == "N" %} NOT vegetarian friendly {% endif %}
	</p>
	<img src="/{{data.img}}" width="200" height="100" />
</div>
{% endfor %}

<div class="review-wrapper">
	{% for data in datas %}
	<div class="review-container">
		<p id="field-name">
			음식 이름 : <span class="name">{{data.menu_name}}</span>
		</p>
		<p id="field-name">가격 : <span class="text">{{data.menu_price}}</span></p>
		<p id="field-name">
			비건 여부 :
			<span class="text"
				>{% if data['vegi'] == "Y" %} vegetarian friendly {% endif %} {% if
				data['vegi'] == "N" %} NOT vegetarian friendly {% endif %}</span
			>
		</p>
		<img src="/{{data.img}}" width="200" height="100" />
	</div>
	{% endfor %}
</div>

{% else %}
<p id="p">등록된 메뉴가 없습니다.</p>
{% endif %} {% endblock section %}
