{% extends "base.html" %} {% block header %}
<title>리뷰 등록 화면</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% endblock header %} {% block section %}

<div style="text-align: center; margin-top: 100px">
  <br />
  <form
    action="/submit_review_post"
    enctype="multipart/form-data"
    method="post"
  >
    <input
      type="text"
      name="res_name"
      id="text"
      value="{{data.res_name}}"
    /><br />

    <select id="star" name="star">
      <!--별점-->
      <option value="1">1점</option>
      <option value="2">2점</option>
      <option value="3">3점</option>
      <option value="4">4점</option>
      <option value="5">5점</option></select
    ><br /><br />
    <input type="text" name="text" id="text" /><br />
    <!--리뷰 내용-->
    <br />
    <input type="submit" id="submit" />
  </form>
</div>
{% endblock section %}
